<div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10"></div>
            <a href="/logout"> <div class="col-1 text-center logoutbtn"><button type="submit" class="btn btn-dark">Logout</button></div></a>

        </div>
		<div class="row">
            <div class="col-12">
                <p class="title" >Amnesia(Null)</p>
                <p id="fade">“Right now I’m having amnesia and déjà vu at the same time. I think I’ve forgotten this before.” </p>
                <!-- <h3 class="description">Description Here</h3>
                <h3 class="description">Dropdown for places</h3> -->
            </div>
        </div>
        <div class="row button-group">
            <div class="col-12">
               <a href="/addEvent"><button type="submit" class="btn btn-dark homebuttons">Add Event</button></a>
               <a href="/viewEvent"><button type="submit" class="btn btn-dark homebuttons" id="viewButton">View Events</button></a>
            </div>
            <!-- <div class="col-6">
                <button type="submit" class="btn btn-dark">Add Place</button>
            </div> -->
        </div>
	</div>