<div class="row">
        <div class="col-1 text-center logoutbtn"><a href="/loadpage"><button type="submit" class="btn btn-dark">Home</button></a></div>
        <div class="col-10"></div>
        <div class="col-1 text-center logoutbtn"><a href="/logout"><button type="submit" class="btn btn-dark">Logout</button></a></div>
      
      </div>
      
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class='container'>

            </div>

<div class="row row1">
    <div class="col-12 titletext">Events
    </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title:</th>
                            <th>Start Date: </th>
                            <th>Start Time: </th>
                            <th>Duration: </th>
                            <th>Repeat:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                            {{#each events}}
                            {{>amnesia/add-block.handlebars}}
                            {{/each}}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="fixed-bottom">
        <a href="/addEvent"><button type="submit" class="btn btn-dark addeventbtn">Add Event</button></a></div>
    </footer>