<div class="row">
        <div class="col-1 text-center logoutbtn"><a href="/loadpage"><button type="submit" class="btn btn-dark">Home</button></a></div>
        <div class="col-10"></div>
        <div class="col-1 text-center logoutbtn"><a href="/logout"><button type="submit" class="btn btn-dark">Logout</button></a></div>
      
      </div>
      
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class='container'>

            </div>

<div class="row row1">
    <div class="col-12 titletext">Events
    </div>
       {{ log events}}
       <div class="row rowshift">
           <div class="col-2 listtext largefont">Title</div>
           <div class="col-2 listtext largefont">Start Date</div>
           <div class="col-2 listtext largefont">Start Time</div>
           <div class="col-2 listtext largefont">Duration</div>
           <div class="col-2 listtext largefont">Repeat</div>
           <div class="col-2 listtext largefont"></div>
       </div>
                <table class="table table-striped">

                    {{!-- <div class="row">
                    <tbody>
                        <div id="form-row">
                            {{#each events}}
                        
                            {{!-- {{>amnesia/add-block.handlebars}} --}}
                          
                        {{!-- </div>
                    </tbody>
                    </div>  --}}
                    </table>


  
<div class = "center">
<ul class="list">
  {{#each events}}
  {{> amnesia/add-block}}
  {{/each}}
</ul>
</div>


        </div>
    </div>

    <footer class="fixed-bottom">
        <a href="/addEvent"><button type="submit" class="btn btn-dark addeventbtn">Add Event</button></a></div>
    </footer>