<div class="row">
        <div class="col-1 text-center logoutbtn"><a href="/loadpage"><button type="submit" class="btn btn-dark">Home</button></a></div>
        <div class="col-10"></div>
        <a href="/login"> <div class="col-1 text-center logoutbtn"><button type="submit" class="btn btn-dark">Logout</button></div></a>
      
      </div>
      
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class='container'>

            </div>
            <div class="event-container">
                <h2 id="eventH2">Events</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title:</th>
                            <th>Start Date: </th>
                            <th>Start Time: </th>
                            <th>Duration: </th>
                            <th>Repeat:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>