* {
    font-family: 'DatalegreyaGradient';
    font-weight: bold;
    font-style: normal;
   
}


#eventH2 {
    text-align: center;
    padding-top: 3cm;
    font-size: 72pt;

}

.delete-export {
    text-align: center;
}

th {
    font-size: 16pt;
    font-weight: bold;
}

#fade {
    animation: fadeIn ease 10s;
-webkit-animation: fadeIn ease 10s;
-moz-animation: fadeIn ease 10s;
-o-animation: fadeIn ease 10s;
-ms-animation: fadeIn ease 10s;

text-align: center;
font-size: 20px;
font-weight: bold;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
