.title {
text-align: center;
padding-top: 2cm;
font-family: 'DatalegreyaGradient';
font-weight: bold;
font-style: normal;
font-size: 72pt;
}

.button-group {
   text-align: center;
}

.description {
        text-align: center;
        padding-top: .5cm;
        font-family: 'DatalegreyaThin';
font-weight: bold;
font-style: normal;
        
}

button.btn:hover {
    background-color: purple;
}

.row1 {
    padding-top: 2cm;
    padding-bottom: 1cm;
    text-align: center;
}

.savebtn {
    text-align: right;
}

.rowpad {
    padding-left: 8cm;
    font-size: 22pt;
}

.row10 {
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    padding-top: 3cm;
}

.titletext {
    font-size: 36pt;
    font-weight: bold;
}

.descriptioninput {
    padding-left: 8cm;
    padding-right: 8cm;
}

.descriptionhere {
    padding-bottom: 1cm;
}