.title {
text-align: center;
padding-top: 2cm;
font-family: 'DatalegreyaGradient';
font-weight: bold;
font-style: normal;
font-size: 72pt;
}

.button-group {
   text-align: center;
}

.description {
        text-align: center;
        padding-top: .5cm;
        font-family: 'DatalegreyaThin';
font-weight: bold;
font-style: normal;
        
}

button.btn:hover {
    background-color: purple;
}